@using IssueTracker.Areas.Identity.Data;
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="col-md-12">
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}