@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Issue Tracker| Sign Up</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../dist/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../dist/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a class="h1"><b>Issue</b>Tracker</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Create a new account.</p>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Last name">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email" aria-required="true">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <input type="password" asp-for="Input.Password" class="form-control" aria-required="true" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <input type="password" asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="Confirm password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <select id="inputName" asp-for="Input.Role" class="form-control custom-select">
                                <option selected disabled>Select a Role</option>
                                <option value="Admin">Admin</option>
                                <option value="Developer">Developer</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="Submitter">Submitter</option>
                                <option value="Demo Admin">Demo Admin</option>
                                <option value="Demo Developer">Demo Developer</option>
                                <option value="Demo Project Manager">Demo Project Manager</option>
                                <option value="Demo Submitter">Demo Submitter</option>
                            </select>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-tag"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="input-group">
                            <div class="custom-file">
                                <input asp-for="Input.ProfilePhoto" class="custom-file-input" id="custom-file" />
                                <label class="custom-file-label" for="custom-file">Upload a Profile Photo</label>
                            </div>
                            <span asp-validation-for="Input.ProfilePhoto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-floating mb-3">
                                <div class="input-group">
                                    <div class="icheck-primary">
                                        <input type="checkbox" asp-for="Input.TermsAndConditions" id="agreeTerms" name="terms" value="agree" class="custom-control-input" required>
                                        <label for="agreeTerms">
                                            I agree to the <a href="#">terms</a>
                                        </label>
                                    </div>
                                    <span asp-validation-for="Input.TermsAndConditions" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" id="registerSubmit" class="btn btn-primary btn-block">Sign Up</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="social-auth-links text-center">
                    <a asp-controller="Home" asp-action="MissingPage" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a asp-controller="Home" asp-action="MissingPage" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>
                <a asp-page="./Login" class="text-center">I already have an account.</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="../../dist/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../dist/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <script src="../../dist/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="../../dist/plugins/jquery-validation/additional-methods.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>

