@using IssueTracker.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject IssueTrackerIdentityDbContext db
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor _context
@{
    ViewData["Title"] = "Create a Ticket";
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Enter Your Ticket Details:</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label for="inputName">Ticket Title:</label>
                            <input name="Title" type="text" id="inputName" class="form-control" required minlength="5">
                        </div>
                        <div class="form-group">
                            <label for="inputName">Project Name:</label>
                            <select name="ProjectId" id="inputName" class="form-control custom-select" required>
                                <option selected disabled>Select a Project</option>
                                @foreach (ProjectModel project in db.Projects.Where(p => p.Users.Contains(UserManager.GetUserAsync(_context.HttpContext.User).Result)))
                                {
                                    <option value=@project.Id>@project.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription">Ticket Description:</label>
                            <textarea name="Description" id="inputDescription" class="form-control" rows="3" required minlength="5" maxlength="100"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="inputPriority">Ticket Priority:</label>
                            <select name="Priority" id="inputPriority" class="form-control custom-select" required>
                                <option selected disabled>Select a Priority</option>
                                <option value="None">None</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="High">High</option>
                                <option value="Urgent">Urgent</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputStatus">Ticket Status:</label>
                            <select name="Status" id="inputStatus" class="form-control custom-select" required>
                                <option selected disabled>Select a Status</option>
                                <option value="None">None</option>
                                <option value="Open">Open</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Resolved">Resolved</option>
                                <option value="Additional Info Needed">Additional Info Needed</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputType">Ticket Type:</label>
                            <select name="Type" id="inputType" class="form-control custom-select" required>
                                <option selected disabled>Select a Type</option>
                                <option value="Bugs/Errors">Bugs/Errors</option>
                                <option value="Feature Requests">Feature Requests</option>
                                <option value="Other Comments">Other Comments</option>
                                <option value="Styling Comments">Styling Comments</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Assigned Developer:</label>
                            <select name="Developer" id="inputDeveloper" class="form-control custom-select" required>
                                <option selected disabled>Select a Developer</option>
                                @foreach (ApplicationUser user in UserManager.Users)
                                {
                                    <option value=@user.Id>@(user.FirstName + " " + user.LastName)</option>
                                }
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a asp-controller="Home" asp-action="Tickets" class="btn btn-secondary">Cancel</a>
                                <input type="submit" value="Create New Ticket" class="btn btn-success float-right">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->

@section Scripts{
    <script src="../../dist/plugins/select2/js/select2.full.min.js"></script>
    <script>$(function () {
            $('.select2').select2()

        })</script>
}