@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="dist/img/IssueTrackerLogo.png" alt="IssueTrackerLogo" height="60" width="60">
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

