@{
    ViewData["Title"] = "Sorting Algorithm: Project Details";
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../dist/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<section class="content">
    <div class="row">

        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Project Description Card</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Project Description </label>
                        <!--Add a description-->
                        <p class="text-muted">
                            The project's description is inserted here.
                        </p>
                       
                    </div>
                </div>
        </div>
    </div>
        </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Tickets Assigned to this Project</h3>
                </div>
                <div class="card-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">

                            <div class="col-sm-12">
                                <table id="example1" class="table table-striped dataTable dtr-inline" aria-describedby="example1_info">
                                    <thead>
                                        <tr>
                                            <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Ticket Name: activate to sort column descending">Ticket Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Developers: activate to sort column ascending" style="">Developer(s)</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="">Status</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Time Created: activate to sort column ascending" style="">Time Created</th>
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Details: activate to sort column ascending" style="">Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td style="">Firefox 1.0</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                12:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td style="">Firefox 1.5</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                1:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td style="">Firefox 2.0</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                2:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                            <td style="">Firefox 3.0</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                3:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Camino 1.0</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                4:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Camino 1.5</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                5:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Netscape 7.2</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                6:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Netscape Browser 8</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                7:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Netscape Navigator 9</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                8:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="even">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Mozilla 1.011</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                9:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="odd">
                                            <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                            <td style="">Mozilla 1.02</td>
                                            <td style="">In Progress</td>
                                            <td style="">
                                                10:00pm
                                            </td>
                                            <td style="">
                                                <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                  
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
</div>
</section>

<div class="row">
    <div class="col-12">
       
    </div>
</div>

            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        Your Personnel
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="User: activate to sort column descending">User</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="">Role</th>
                                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd">
                                    <td class="dtr-control sorting_1" tabindex="0">Wayne Gretsky</td>
                                    <td style="">Admin</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="even">
                                    <td class="dtr-control sorting_1" tabindex="0">Connor McDavid</td>
                                    <td style="">Developer</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="odd">
                                    <td class="dtr-control sorting_1" tabindex="0">Michael Jordan</td>
                                    <td style="">Project Manager</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="even">
                                    <td class="dtr-control sorting_1" tabindex="0">Lebron James</td>
                                    <td style="">Demo Submitter</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1 dtr-control" tabindex="0">Babe Ruth</td>
                                    <td style="">Submitter</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="even">
                                    <td class="sorting_1 dtr-control" tabindex="0">Tracy McGrady</td>
                                    <td style="">Demo Admin</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                                <tr class="odd">
                                    <td class="sorting_1 dtr-control" tabindex="0">Vince Carter</td>
                                    <td style="">Demo Developer</td>
                                    <td style="">jameskobe@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

@section Scripts
{
    <script src="../../dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../dist/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/jszip/jszip.min.js"></script>
    <script src="../../dist/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../dist/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>$(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columnDefs": [{
                    "targets": [3, 4],
                    "orderable": false,
                    "bSort": false
                }]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });</script>

}