@{
    ViewData["Title"] = "Your Projects";
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<a asp-controller="Home" asp-action="CreateProject" type="button" class="btn btn-success btn-block col-md-2 mb-3"><i class="fas fa-plus-square"></i>  Create New Project</a>
<div class="card card-primary">

    <div class="card-header">
        <h3 class="card-title">Your Projects</h3>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-striped dataTable dtr-inline" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Project Name: activate to sort column descending">Project Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="">Description</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="User(s): activate to sort column ascending" style="">User(s)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Manage User(s): activate to sort column ascending" style="">Manage User(s)</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Details: activate to sort column ascending" style="">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                <td style="">Firefox 1.0</td>
                                <td style="">Win 98+ / OSX.2+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                <td style="">Firefox 1.5</td>
                                <td style="">Win 98+ / OSX.2+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                <td style="">Firefox 2.0</td>
                                <td style="">Win 98+ / OSX.2+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                <td style="">Firefox 3.0</td>
                                <td style="">Win 2k+ / OSX.3+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Camino 1.0</td>
                                <td style="">OSX.2+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Camino 1.5</td>
                                <td style="">OSX.3+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Netscape 7.2</td>
                                <td style="">Win 95+ / Mac OS 8.6-9.2</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Netscape Browser 8</td>
                                <td style="">Win 98SE+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Netscape Navigator 9</td>
                                <td style="">Win 98+ / OSX.2+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Mozilla 1.011</td>
                                <td style="">Win 95+ / OSX.1+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="sorting_1 dtr-control" tabindex="0">Gecko</td>
                                <td style="">Mozilla 1.02</td>
                                <td style="">Win 95+ / OSX.1+</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ManageUsers" role="button">
                                        Manage Users
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="ProjectDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Project Name</th>
                                <th rowspan="1" colspan="1" style="">Description</th>
                                <th rowspan="1" colspan="1" style="">User(s)</th>
                                <th rowspan="1" colspan="1" style="">Manage User(s)</th>
                                <th rowspan="1" colspan="1" style="">Details</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="../../dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../dist/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/jszip/jszip.min.js"></script>
    <script src="../../dist/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../dist/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>$(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columnDefs": [{
                    "targets": [3, 4],
                    "orderable": false,
                    "bSort": false
                }]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });</script>

}