@{
    ViewData["Title"] = "Details for Ticket";
}

<!--Ticket Details Card-->
@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/select2/css/select2.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Ticket Details:</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Ticket Title:</label>
                        <p class="text-muted">
                            Title
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputName">Project Name:</label>
                        <p class="text-muted">
                            Algorithms
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Ticket Description:</label>
                        <p class="text-muted">
                            Ticket Description inserted here.
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputPriority">Ticket Priority:</label>
                        <p class="text-muted">
                            Medium
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Ticket Status:</label>
                        <p class="text-muted">
                            In Progress
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Ticket Type:</label>
                        <p class="text-muted">
                            Bugs/Errors
                        </p>
                    </div>
                    <div class="form-group">
                        <label>Assigned Developer(s):</label>
                        <div class="select2-green">
                            <p class="text-muted">
                                Gecko
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Time Created</label>
                        <div class="select2-green">
                            <p class="text-muted">
                                8:00pm
                            </p>
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
<!-- /.content-wrapper -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Comments</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Add your comment:</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    
                    <div class="row">
                        <div class="col-12">
                            <a asp-controller="Home" asp-action="CreateComment" class="btn btn-secondary">Cancel</a>
                            <input type="submit" value="Create New Comment" class="btn btn-success float-right" data-toggle="modal" data-target="#modal-success" data-backdrop="static" data-keyboard="false">
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->
<div class="modal fade" id="modal-success">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-success">
            <div class="modal-header">
                <h4 class="modal-title">Success!</h4>
            </div>
            <div class="modal-body">
                <p>Your comment has been published.</p>
            </div>
            <div class="modal-footer justify-content-between">
                <a type="button" asp-controller="Home" asp-action="Tickets" class="btn btn-outline-light">Your Tickets</a>
                <a type="button" asp-controller="Home" asp-action="TicketDetails" class="btn btn-outline-light">Ticket Details</a>
            </div>
        </div>

    </div>

</div>
<div class="col-12">
    <div class="card card-info">
        <div class="card-header">
            Ticket Comments
        </div>
        <div class="card-body">
            <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                <thead>
                    <tr>
                        <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="User: activate to sort column descending">Commenter</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="">Comment</th>
                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending" style="">Time Created</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">Wayne Gretsky</td>
                        <td style="">Try to make sure all the test cases run.</td>
                        <td style="">1:00am</td>
                    </tr>
                    <tr class="even">
                        <td class="dtr-control sorting_1" tabindex="0">Connor McDavid</td>
                        <td style="">Add more features to project.</td>
                        <td style="">2:00am</td>
                    </tr>
                    <tr class="odd">
                        <td class="dtr-control sorting_1" tabindex="0">Michael Jordan</td>
                        <td style="">Ask others what they think about the new files?</td>
                        <td style="">3:00am</td>
                    </tr>
                    <tr class="even">
                        <td class="dtr-control sorting_1" tabindex="0">Lebron James</td>
                        <td style="">Did you check the time complexity?</td>
                        <td style="">4:00am</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="../../dist/plugins/select2/js/select2.full.min.js"></script>
    <script>$(function () {
            $('.select2').select2()

        })</script>
}