@{
    ViewData["Title"] = "Your Tickets";
}

@section Scripts2
{
    <link rel="stylesheet" href="../../dist/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../dist/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
}

<a asp-controller="Home" asp-action="CreateTicket" type="button" class="btn btn-success btn-block col-md-2 mb-3"><i class="fas fa-plus-square"></i>  Create New Ticket</a>
<div class="card card-primary   ">

    <div class="card-header">
        <h3 class="card-title">Your Submitted Tickets</h3>
    </div>

    <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" aria-describedby="example1_info">
                        <thead>
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Title: activate to sort column descending">Title</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Project Name: activate to sort column ascending" style="">Project Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Developer Assigned: activate to sort column ascending" style="">Developer Assigned</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ticket Priority: activate to sort column ascending" style="">Ticket Priority</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ticket Type: activate to sort column ascending" style="">Ticket Type</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Ticket Status: activate to sort column ascending" style="">Ticket Status</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Created: activate to sort column ascending" style="">Created</th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Details: activate to sort column ascending" style="">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Issue Tracker</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">Low</td>
                                <td style="">Styling Comments</td>
                                <td style="">In Progress</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Gray</td>
                                <td style="">Bug Tracker</td>
                                <td style="">Lebron James</td>
                                <td class="dtr-control sorting_1" tabindex="0">Urgent</td>
                                <td style="">Styling Comments</td>
                                <td style="">In Progress</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Glitched page</td>
                                <td style="">Algorithm Visualizer</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">Low</td>
                                <td style="">Bugs/Errors</td>
                                <td style="">Info Needed</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Great work!</td>
                                <td style="">Issue Tracker</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">High</td>
                                <td style="">Other Comments</td>
                                <td style="">Open</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Fix the glitch</td>
                                <td style="">Sorting Algorithms</td>
                                <td style="">Connor McDavid</td>
                                <td class="dtr-control sorting_1" tabindex="0">Medium</td>
                                <td style="">Bugs/Errors</td>
                                <td style="">Resolved</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Bug Tracker</td>
                                <td style="">Lebron James</td>
                                <td class="dtr-control sorting_1" tabindex="0">Low</td>
                                <td style="">Styling Comments</td>
                                <td style="">In Progress</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Issue Tracker</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">None</td>
                                <td style="">Styling Comments</td>
                                <td style="">Resolved</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Sorting Algorithms</td>
                                <td style="">Connor McDavid</td>
                                <td class="dtr-control sorting_1" tabindex="0">Low</td>
                                <td style="">Styling Comments</td>
                                <td style="">Open</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Issue Tracker</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">Urgent</td>
                                <td style="">Styling Comments</td>
                                <td style="">Open</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="even">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Algorithm Visualizer</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">High</td>
                                <td style="">Styling Comments</td>
                                <td style="">Info Needed</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                            <tr class="odd">
                                <td class="dtr-control sorting_1" tabindex="0">Add more Blue</td>
                                <td style="">Sudoku</td>
                                <td style="">Wayne Gretsky</td>
                                <td class="dtr-control sorting_1" tabindex="0">Medium</td>
                                <td style="">Styling Comments</td>
                                <td style="">In Progress</td>
                                <td style="">
                                    <a class="btn btn-secondary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="EditTicket" role="button">
                                        Edit/Assign
                                    </a>
                                </td>
                                <td style="">
                                    <a class="btn btn-primary btn-rounded d-flex justify-content-center align-items-center" asp-controller="Home" asp-action="TicketDetails" role="button">
                                        Details
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Title</th>
                                <th rowspan="1" colspan="1" style="">Project Name</th>
                                <th rowspan="1" colspan="1" style="">Developer Assigned</th>
                                <th rowspan="1" colspan="1" style="">Ticket Priority</th>
                                <th rowspan="1" colspan="1">Ticket Type</th>
                                <th rowspan="1" colspan="1">Ticket Status</th>
                                <th rowspan="1" colspan="1">Created</th>
                                <th rowspan="1" colspan="1" style="">Details</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="../../dist/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../dist/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../dist/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../dist/plugins/jszip/jszip.min.js"></script>
    <script src="../../dist/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../dist/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../dist/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>$(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "columnDefs": [{
                    "targets": [6, 7],
                    "orderable": false,
                    "bSort": false
                }]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });</script>

}